.registerForm input,
.loginForm input {
	width: 300px;
	border: 1px solid #929292;
}
.loginForm input:focus,
.registerForm input:focus {
	box-shadow: none;
	border: 1px solid #3b3b3b;
}

.registerForm button,
.loginForm button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 120px;
	height: 50px;
	margin-top: 1rem;
}

.registerForm button:focus,
.loginForm button:focus {
	box-shadow: none;
}
